<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ city }}</title>
</head>
<body>
    <h1>weather for {{city}}</h1>

    <table>
        <tr>
            <td>
                
            </td>

            <td>
                {{#each weather}}
                    <div>
                        <img src="http://openweathermap.org/img/w/{{this.icon}}.png" alt="">
                        <b>{{this.main}}</b>
                        <span>{{this.description}}</span>
                    </div>
                {{/each}}
                <div>
                    current: {{temperature.temp}} C
                </div>
                <div>
                    Mininum: {{temperature.temp_min}} C
                </div>
                <div>
                    Maximum: {{temperature.temp_max}} C
                </div>

            </td>
        </tr>



    </table>

</body>
</html>